html { 
   background-color: #8FE2D7
}
body {
   font-family: Arial, Helvetica, sans-serif;
   width: 760px;
   margin: 0 auto;
   padding: 0 2em;
   background-color: #8FE2D7 
   border: 1px solid black;
}
